*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  max-width: 1140px;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__list-container {
  height: 298px;
  overflow-y: scroll;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  padding-right: 1px;
}
.content__list-container:last-child {
  gap: 30px;
}

.content__details {
  height: 100%;
  width: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  object-fit: cover;
  margin-bottom: 16px;
}

.result__video-container video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 196px;
  height: 103px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.title {
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 96%;
  font-family: Oswald;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current:active {
  background-color: #545050;
}

.content__card-link_current:hover {
  text-decoration: underline;
}

.content__list-item {
  padding: 0 3px;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
  border-radius: 0;
}

.content__video-card-title {
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content__video-card-description {
  line-height: 16.2px;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*Стилизуем формы и их состояния*/
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/*Стилизуем текстовое поле ввода*/
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.search-form__textfield {
  padding: 2.5px 0;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  background-color: transparent;
  appearance: none;
  font-size: 18px;
  font-weight: 400;
  min-width: 225px;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

/*Стилизуем чекбокс*/
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

/*Стилизация кнопок и их состояния*/
.button {
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  padding: 6px 0;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
}

.search-form__submit-button:focus,
.more-button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible,
.more-button:focus-visible {
  outline: 1px solid #fff;
}

.search-form__submit-button:hover,
.more-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__submit-button:active,
.more-button:active {
  background-color: #545050;
}

/*Позиционирование прелоадеров*/
.result__video-container,
.content__list-container {
  position: relative;
}

.preloader-template,
.cards-list-item-template {
  position: absolute;
}
